# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [18]:
# Imports
import pandas as pd
import numpy as np
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("./Resources/applicants_data.csv")

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=["EIN", "NAME"])

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes=="object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data, columns=enc.get_feature_names_out(categorical_variables))

# Review the DataFrame
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df[["ASK_AMT", "IS_SUCCESSFUL", "STATUS"]], encoded_df], axis=1)

# Review the Dataframe
encoded_df

,ASK_AMT,IS_SUCCESSFUL,STATUS,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,108590,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,5000,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,6692,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,142590,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,5000,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,5000,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,5000,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,36500179,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [10]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
type(y)

pandas.core.series.Series

In [11]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X

,ASK_AMT,STATUS,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,36500179,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [12]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [13]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [15]:
# Define the the number of inputs (features) to the model
number_input_features = X.shape[1]

# Review the number of features
number_input_features

116

In [16]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [20]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  np.ceil(np.sqrt(number_input_features * number_output_neurons))

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

11.0

In [21]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  np.ceil(np.sqrt(hidden_nodes_layer1 * number_output_neurons))

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

4.0

In [23]:
# Create the Sequential model instance
nn = Sequential()

In [24]:
# Add the first hidden layer
nn.add(
    Dense(
        units = hidden_nodes_layer1,
        activation = "relu",
        input_dim = number_input_features
    )
)

In [25]:
# Add the second hidden layer
nn.add(
    Dense(
        units = hidden_nodes_layer2,
        activation = "relu"
    )
)

In [26]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(
    Dense(
        units = 1,
        activation = "sigmoid"
    )
)

In [27]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 11)                1287

 dense_1 (Dense)             (None, 4)                 48

 dense_2 (Dense)             (None, 1)                 5

=================================================================
Total params: 1,340
Trainable params: 1,340
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [29]:
# Compile the Sequential model
nn.compile(loss = "binary_crossentropy",
           optimizer = "adam",
           metrics = ["accuracy"])

In [30]:
# Fit the model using 50 epochs and the training data
nn_model = nn.fit(X_train_scaled, y_train, epochs = 50)

Epoch 1/50
804/804 [==============================] - 1s 853us/step - loss: 0.6364 - accuracy: 0.6621
Epoch 2/50
804/804 [==============================] - 1s 704us/step - loss: 0.5714 - accuracy: 0.7208
Epoch 3/50
804/804 [==============================] - 1s 700us/step - loss: 0.5591 - accuracy: 0.7224
Epoch 4/50
804/804 [==============================] - 1s 704us/step - loss: 0.5546 - accuracy: 0.7236
Epoch 5/50
804/804 [==============================] - 1s 707us/step - loss: 0.5527 - accuracy: 0.7254
Epoch 6/50
804/804 [==============================] - 1s 714us/step - loss: 0.5505 - accuracy: 0.7259
Epoch 7/50
804/804 [==============================] - 1s 725us/step - loss: 0.5497 - accuracy: 0.7266
Epoch 8/50
804/804 [==============================] - 1s 698us/step - loss: 0.5486 - accuracy: 0.7270
Epoch 9/50
804/804 [==============================] - 1s 734us/step - loss: 0.5476 - accuracy: 0.7272
Epoch 10/50
804/804 [==============================] - 1s 700us/step - loss: 0.5475 - accuracy: 0.7266
Epoch 11/50
804/804 [==============================] - 1s 691us/step - loss: 0.5468 - accuracy: 0.7267
Epoch 12/50
804/804 [==============================] - 1s 678us/step - loss: 0.5463 - accuracy: 0.7267
Epoch 13/50
804/804 [==============================] - 1s 690us/step - loss: 0.5464 - accuracy: 0.7270
Epoch 14/50
804/804 [==============================] - 1s 683us/step - loss: 0.5459 - accuracy: 0.7269
Epoch 15/50
804/804 [==============================] - 1s 684us/step - loss: 0.5457 - accuracy: 0.7280
Epoch 16/50
804/804 [==============================] - 1s 685us/step - loss: 0.5450 - accuracy: 0.7270
Epoch 17/50
804/804 [==============================] - 1s 680us/step - loss: 0.5451 - accuracy: 0.7279
Epoch 18/50
804/804 [==============================] - 1s 686us/step - loss: 0.5449 - accuracy: 0.7281
Epoch 19/50
804/804 [==============================] - 1s 685us/step - loss: 0.5443 - accuracy: 0.7279
Epoch 20/50
804/804 [==============================] - 1s 700us/step - loss: 0.5445 - accuracy: 0.7285
Epoch 21/50
804/804 [==============================] - 1s 685us/step - loss: 0.5442 - accuracy: 0.7280
Epoch 22/50
804/804 [==============================] - 1s 679us/step - loss: 0.5442 - accuracy: 0.7288
Epoch 23/50
804/804 [==============================] - 1s 682us/step - loss: 0.5441 - accuracy: 0.7279
Epoch 24/50
804/804 [==============================] - 1s 682us/step - loss: 0.5438 - accuracy: 0.7288
Epoch 25/50
804/804 [==============================] - 1s 689us/step - loss: 0.5438 - accuracy: 0.7276
Epoch 26/50
804/804 [==============================] - 1s 679us/step - loss: 0.5437 - accuracy: 0.7283
Epoch 27/50
804/804 [==============================] - 1s 698us/step - loss: 0.5435 - accuracy: 0.7282
Epoch 28/50
804/804 [==============================] - 1s 702us/step - loss: 0.5431 - accuracy: 0.7290
Epoch 29/50
804/804 [==============================] - 1s 692us/step - loss: 0.5432 - accuracy: 0.7281
Epoch 30/50
804/804 [==============================] - 1s 685us/step - loss: 0.5432 - accuracy: 0.7294
Epoch 31/50
804/804 [==============================] - 1s 694us/step - loss: 0.5429 - accuracy: 0.7294
Epoch 32/50
804/804 [==============================] - 1s 697us/step - loss: 0.5426 - accuracy: 0.7302
Epoch 33/50
804/804 [==============================] - 1s 694us/step - loss: 0.5428 - accuracy: 0.7296
Epoch 34/50
804/804 [==============================] - 1s 680us/step - loss: 0.5421 - accuracy: 0.7313
Epoch 35/50
804/804 [==============================] - 1s 685us/step - loss: 0.5421 - accuracy: 0.7306
Epoch 36/50
804/804 [==============================] - 1s 685us/step - loss: 0.5419 - accuracy: 0.7319
Epoch 37/50
804/804 [==============================] - 1s 689us/step - loss: 0.5418 - accuracy: 0.7317
Epoch 38/50
804/804 [==============================] - 1s 689us/step - loss: 0.5415 - accuracy: 0.7308
Epoch 39/50
804/804 [==============================] - 1s 687us/step - loss: 0.5415 - accuracy: 0.7315
Epoch 40/50
804/804 [==============================] - 1s 699us/step - loss: 0.5416 - accuracy: 0.7318
Epoch 41/50
804/804 [==============================] - 1s 684us/step - loss: 0.5413 - accuracy: 0.7323
Epoch 42/50
804/804 [==============================] - 1s 687us/step - loss: 0.5411 - accuracy: 0.7308
Epoch 43/50
804/804 [==============================] - 1s 692us/step - loss: 0.5411 - accuracy: 0.7321
Epoch 44/50
804/804 [==============================] - 1s 699us/step - loss: 0.5411 - accuracy: 0.7326
Epoch 45/50
804/804 [==============================] - 1s 689us/step - loss: 0.5411 - accuracy: 0.7324
Epoch 46/50
804/804 [==============================] - 1s 685us/step - loss: 0.5409 - accuracy: 0.7324
Epoch 47/50
804/804 [==============================] - 1s 702us/step - loss: 0.5405 - accuracy: 0.7324
Epoch 48/50
804/804 [==============================] - 1s 707us/step - loss: 0.5407 - accuracy: 0.7322
Epoch 49/50
804/804 [==============================] - 1s 699us/step - loss: 0.5408 - accuracy: 0.7323
Epoch 50/50
804/804 [==============================] - 1s 692us/step - loss: 0.5406 - accuracy: 0.7323

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [31]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5573 - accuracy: 0.7266 - 245ms/epoch - 913us/step
Loss: 0.5572531819343567, Accuracy: 0.7266472578048706

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [32]:
# Set the model's file path
file_path = Path("Resources/AlphabetSoup.h5")

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [33]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [34]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [36]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = np.ceil(np.sqrt(number_input_features * number_output_neurons))

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

11.0

In [37]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [40]:
# First hidden layer
nn_A1.add(Dense
          (units = hidden_nodes_layer1_A1, input_dim = number_input_features, activation = "relu"))


# Output layer
nn.add(
    Dense
    (units = number_output_neurons_A1, activation = "sigmoid"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 11)                1287

 dense_4 (Dense)             (None, 11)                132

=================================================================
Total params: 1,419
Trainable params: 1,419
Non-trainable params: 0
_________________________________________________________________

In [41]:
# Compile the Sequential model
nn_A1.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [42]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs = 50)

Epoch 1/50
804/804 [==============================] - 1s 752us/step - loss: 2.7073 - accuracy: 0.0812
Epoch 2/50
804/804 [==============================] - 1s 714us/step - loss: 1.5632 - accuracy: 0.0914
Epoch 3/50
804/804 [==============================] - 1s 753us/step - loss: 1.2626 - accuracy: 0.0717
Epoch 4/50
804/804 [==============================] - 1s 706us/step - loss: 1.0297 - accuracy: 0.1136
Epoch 5/50
804/804 [==============================] - 1s 734us/step - loss: 0.9123 - accuracy: 0.1796
Epoch 6/50
804/804 [==============================] - 1s 694us/step - loss: 0.8294 - accuracy: 0.1358
Epoch 7/50
804/804 [==============================] - 1s 679us/step - loss: 0.7892 - accuracy: 0.1448
Epoch 8/50
804/804 [==============================] - 1s 675us/step - loss: 0.7570 - accuracy: 0.1165
Epoch 9/50
804/804 [==============================] - 1s 686us/step - loss: 0.7310 - accuracy: 0.1048
Epoch 10/50
804/804 [==============================] - 1s 711us/step - loss: 0.7083 - accuracy: 0.0968
Epoch 11/50
804/804 [==============================] - 1s 713us/step - loss: 0.6900 - accuracy: 0.1011
Epoch 12/50
804/804 [==============================] - 1s 712us/step - loss: 0.6810 - accuracy: 0.0605
Epoch 13/50
804/804 [==============================] - 1s 716us/step - loss: 0.6766 - accuracy: 0.0896
Epoch 14/50
804/804 [==============================] - 1s 711us/step - loss: 0.6579 - accuracy: 0.1481
Epoch 15/50
804/804 [==============================] - 1s 710us/step - loss: 0.6441 - accuracy: 0.0845
Epoch 16/50
804/804 [==============================] - 1s 719us/step - loss: 0.6299 - accuracy: 0.1148
Epoch 17/50
804/804 [==============================] - 1s 721us/step - loss: 0.6282 - accuracy: 0.1310
Epoch 18/50
804/804 [==============================] - 1s 730us/step - loss: 0.6216 - accuracy: 0.1288
Epoch 19/50
804/804 [==============================] - 1s 710us/step - loss: 0.6258 - accuracy: 0.0314
Epoch 20/50
804/804 [==============================] - 1s 717us/step - loss: 0.6188 - accuracy: 0.0295
Epoch 21/50
804/804 [==============================] - 1s 727us/step - loss: 0.6116 - accuracy: 0.0526
Epoch 22/50
804/804 [==============================] - 1s 714us/step - loss: 0.6207 - accuracy: 0.0269
Epoch 23/50
804/804 [==============================] - 1s 723us/step - loss: 0.6023 - accuracy: 0.0461
Epoch 24/50
804/804 [==============================] - 1s 724us/step - loss: 0.5959 - accuracy: 0.0459
Epoch 25/50
804/804 [==============================] - 1s 718us/step - loss: 0.5911 - accuracy: 0.0419
Epoch 26/50
804/804 [==============================] - 1s 722us/step - loss: 0.5951 - accuracy: 0.0626
Epoch 27/50
804/804 [==============================] - 1s 725us/step - loss: 0.5871 - accuracy: 0.0934
Epoch 28/50
804/804 [==============================] - 1s 720us/step - loss: 0.5859 - accuracy: 0.0962
Epoch 29/50
804/804 [==============================] - 1s 702us/step - loss: 0.5835 - accuracy: 0.0554
Epoch 30/50
804/804 [==============================] - 1s 725us/step - loss: 0.5811 - accuracy: 0.0490
Epoch 31/50
804/804 [==============================] - 1s 717us/step - loss: 0.5797 - accuracy: 0.0119
Epoch 32/50
804/804 [==============================] - 1s 737us/step - loss: 0.5822 - accuracy: 0.0432
Epoch 33/50
804/804 [==============================] - 1s 723us/step - loss: 0.5804 - accuracy: 0.0273
Epoch 34/50
804/804 [==============================] - 1s 737us/step - loss: 0.5756 - accuracy: 0.0186
Epoch 35/50
804/804 [==============================] - 1s 745us/step - loss: 0.5758 - accuracy: 0.0197
Epoch 36/50
804/804 [==============================] - 1s 733us/step - loss: 0.5798 - accuracy: 0.1345
Epoch 37/50
804/804 [==============================] - 1s 737us/step - loss: 0.5700 - accuracy: 0.0989
Epoch 38/50
804/804 [==============================] - 1s 740us/step - loss: 0.5683 - accuracy: 0.0869
Epoch 39/50
804/804 [==============================] - 1s 737us/step - loss: 0.5699 - accuracy: 0.0666
Epoch 40/50
804/804 [==============================] - 1s 729us/step - loss: 0.5697 - accuracy: 0.0569
Epoch 41/50
804/804 [==============================] - 1s 735us/step - loss: 0.5714 - accuracy: 0.0596
Epoch 42/50
804/804 [==============================] - 1s 735us/step - loss: 0.5663 - accuracy: 0.1671
Epoch 43/50
804/804 [==============================] - 1s 728us/step - loss: 0.5684 - accuracy: 0.0636
Epoch 44/50
804/804 [==============================] - 1s 756us/step - loss: 0.5673 - accuracy: 0.0970
Epoch 45/50
804/804 [==============================] - 1s 740us/step - loss: 0.5681 - accuracy: 0.1630
Epoch 46/50
804/804 [==============================] - 1s 730us/step - loss: 0.5820 - accuracy: 0.0223
Epoch 47/50
804/804 [==============================] - 1s 745us/step - loss: 0.5691 - accuracy: 0.0291
Epoch 48/50
804/804 [==============================] - 1s 744us/step - loss: 0.5721 - accuracy: 0.1605
Epoch 49/50
804/804 [==============================] - 1s 723us/step - loss: 0.5670 - accuracy: 0.1906
Epoch 50/50
804/804 [==============================] - 1s 732us/step - loss: 0.5660 - accuracy: 0.2117

#### Alternative Model 2

In [43]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [44]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [45]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = np.ceil(np.sqrt(number_input_features * number_output_neurons))

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

11.0

In [48]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [52]:
# First hidden layer
nn_A2.add(Dense(units = hidden_nodes_layer1_A2, input_dim = number_input_features, activation = "relu"))

# Output layer
nn_A2.add(Dense(units = number_output_neurons_A2, activation = "sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 11)                1287

 dense_7 (Dense)             (None, 11)                132

 dense_8 (Dense)             (None, 11)                132

 dense_9 (Dense)             (None, 1)                 12

=================================================================
Total params: 1,563
Trainable params: 1,563
Non-trainable params: 0
_________________________________________________________________

In [53]:
# Compile the model
nn_A2.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [54]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train,  epochs =50)

Epoch 1/50
804/804 [==============================] - 1s 794us/step - loss: 0.5932 - accuracy: 0.7044
Epoch 2/50
804/804 [==============================] - 1s 769us/step - loss: 0.5570 - accuracy: 0.7270
Epoch 3/50
804/804 [==============================] - 1s 739us/step - loss: 0.5515 - accuracy: 0.7312
Epoch 4/50
804/804 [==============================] - 1s 747us/step - loss: 0.5494 - accuracy: 0.7316
Epoch 5/50
804/804 [==============================] - 1s 764us/step - loss: 0.5472 - accuracy: 0.7304
Epoch 6/50
804/804 [==============================] - 1s 796us/step - loss: 0.5465 - accuracy: 0.7315
Epoch 7/50
804/804 [==============================] - 1s 811us/step - loss: 0.5455 - accuracy: 0.7324
Epoch 8/50
804/804 [==============================] - 1s 757us/step - loss: 0.5448 - accuracy: 0.7326
Epoch 9/50
804/804 [==============================] - 1s 771us/step - loss: 0.5444 - accuracy: 0.7336
Epoch 10/50
804/804 [==============================] - 1s 801us/step - loss: 0.5440 - accuracy: 0.7329
Epoch 11/50
804/804 [==============================] - 1s 785us/step - loss: 0.5434 - accuracy: 0.7334
Epoch 12/50
804/804 [==============================] - 1s 794us/step - loss: 0.5423 - accuracy: 0.7345
Epoch 13/50
804/804 [==============================] - 1s 791us/step - loss: 0.5429 - accuracy: 0.7340
Epoch 14/50
804/804 [==============================] - 1s 790us/step - loss: 0.5424 - accuracy: 0.7343
Epoch 15/50
804/804 [==============================] - 1s 795us/step - loss: 0.5418 - accuracy: 0.7346
Epoch 16/50
804/804 [==============================] - 1s 811us/step - loss: 0.5417 - accuracy: 0.7354
Epoch 17/50
804/804 [==============================] - 1s 759us/step - loss: 0.5416 - accuracy: 0.7354
Epoch 18/50
804/804 [==============================] - 1s 768us/step - loss: 0.5416 - accuracy: 0.7354
Epoch 19/50
804/804 [==============================] - 1s 770us/step - loss: 0.5407 - accuracy: 0.7361
Epoch 20/50
804/804 [==============================] - 1s 777us/step - loss: 0.5406 - accuracy: 0.7359
Epoch 21/50
804/804 [==============================] - 1s 760us/step - loss: 0.5405 - accuracy: 0.7355
Epoch 22/50
804/804 [==============================] - 1s 770us/step - loss: 0.5402 - accuracy: 0.7361
Epoch 23/50
804/804 [==============================] - 1s 765us/step - loss: 0.5398 - accuracy: 0.7368
Epoch 24/50
804/804 [==============================] - 1s 773us/step - loss: 0.5403 - accuracy: 0.7365
Epoch 25/50
804/804 [==============================] - 1s 788us/step - loss: 0.5395 - accuracy: 0.7367
Epoch 26/50
804/804 [==============================] - 1s 770us/step - loss: 0.5392 - accuracy: 0.7362
Epoch 27/50
804/804 [==============================] - 1s 771us/step - loss: 0.5398 - accuracy: 0.7357
Epoch 28/50
804/804 [==============================] - 1s 761us/step - loss: 0.5398 - accuracy: 0.7370
Epoch 29/50
804/804 [==============================] - 1s 762us/step - loss: 0.5390 - accuracy: 0.7369
Epoch 30/50
804/804 [==============================] - 1s 766us/step - loss: 0.5388 - accuracy: 0.7360
Epoch 31/50
804/804 [==============================] - 1s 766us/step - loss: 0.5390 - accuracy: 0.7375
Epoch 32/50
804/804 [==============================] - 1s 777us/step - loss: 0.5390 - accuracy: 0.7366
Epoch 33/50
804/804 [==============================] - 1s 760us/step - loss: 0.5389 - accuracy: 0.7364
Epoch 34/50
804/804 [==============================] - 1s 765us/step - loss: 0.5381 - accuracy: 0.7364
Epoch 35/50
804/804 [==============================] - 1s 785us/step - loss: 0.5386 - accuracy: 0.7364
Epoch 36/50
804/804 [==============================] - 1s 757us/step - loss: 0.5381 - accuracy: 0.7369
Epoch 37/50
804/804 [==============================] - 1s 770us/step - loss: 0.5381 - accuracy: 0.7361
Epoch 38/50
804/804 [==============================] - 1s 770us/step - loss: 0.5381 - accuracy: 0.7383
Epoch 39/50
804/804 [==============================] - 1s 761us/step - loss: 0.5380 - accuracy: 0.7369
Epoch 40/50
804/804 [==============================] - 1s 776us/step - loss: 0.5380 - accuracy: 0.7380
Epoch 41/50
804/804 [==============================] - 1s 784us/step - loss: 0.5378 - accuracy: 0.7378
Epoch 42/50
804/804 [==============================] - 1s 763us/step - loss: 0.5376 - accuracy: 0.7372
Epoch 43/50
804/804 [==============================] - 1s 762us/step - loss: 0.5377 - accuracy: 0.7367
Epoch 44/50
804/804 [==============================] - 1s 766us/step - loss: 0.5375 - accuracy: 0.7371
Epoch 45/50
804/804 [==============================] - 1s 773us/step - loss: 0.5376 - accuracy: 0.7374
Epoch 46/50
804/804 [==============================] - 1s 768us/step - loss: 0.5372 - accuracy: 0.7384
Epoch 47/50
804/804 [==============================] - 1s 771us/step - loss: 0.5371 - accuracy: 0.7372
Epoch 48/50
804/804 [==============================] - 1s 786us/step - loss: 0.5372 - accuracy: 0.7371
Epoch 49/50
804/804 [==============================] - 1s 778us/step - loss: 0.5369 - accuracy: 0.7379
Epoch 50/50
804/804 [==============================] - 1s 781us/step - loss: 0.5372 - accuracy: 0.7374

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [55]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5573 - accuracy: 0.7266 - 169ms/epoch - 631us/step
Loss: 0.5572531819343567, Accuracy: 0.7266472578048706

In [56]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5776 - accuracy: 0.2662 - 218ms/epoch - 812us/step
Loss: 0.5776402950286865, Accuracy: 0.26623907685279846

In [57]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5518 - accuracy: 0.7284 - 225ms/epoch - 838us/step
Loss: 0.5517833232879639, Accuracy: 0.728396475315094

### Step 3: Save each of your alternative models as an HDF5 file.

In [58]:
# Set the file path for the first alternative model
file_path1 = Path("./Resources/AlphabetSoupA1.h5")

# Export your model to a HDF5 file
nn.save(file_path1)

In [60]:
# Set the file path for the second alternative model
file_path2 = Path("./Resources/AlphabetSoupA2.h5")

# Export your model to a HDF5 file
nn.save(file_path2)